<div class="login">
  <img class="ui large circular image wallpaper" src="/images/pal-log.png">

  <h1 id="title" class="ui huge header">Welcome to {{title}}</h1>
  <h3>an app for a closer fly</h3>

  <form class="ui massive form" action="/login" method="POST">
    <div class="field">
      <input type="text" name="username" placeholder="username">
    </div>

    <div class="field">
      <input type="password" name="password" placeholder="password" autocomplete="off">
    </div>

    <div class="field">
      <a href="/signup">Don't have an account? Sign Up</a>
    </div>

    <a href="/login"><button class="ui massive button" id="bot-login">Sign In</button></a>
  </form><br>

  {{#if errorMessage }}
    <div class="error-message">{{ errorMessage }}</div>
  {{/if}}

</div>