<!-- views/users/add-bird.hbs -->
<div class="birds">
  <img class="ui medium circular image" src="/images/pal-default-avatar.png">

  <h1 class="ui header">Edit Bird</h1>

  <form class="ui massive form" action="/birds/edit-bird" method="POST">

    <div class="field">
      <input type="text" name="name" placeholder="name">
    </div>

    <div class="field">
      <input type="text" name="color" placeholder="color">
    </div>

    <div class="field">
      <input type="date" name="dob">
    </div>

    <div class="field">
      <input type="number" name="catches" placeholder="number of catches eg. 12">
    </div>

    <div class="field">
      <a href="/users/dashboard">Go Back</a>
    </div>

    <button id="bot-add-bird" class="ui massive button" type="submit">Submit</button>
  </form>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}

</div>
