
<div class="splash">
  <img class="ui large circular image wallpaper" src="/images/pal-log.png">

  <h1 class="ui header">Welcome to {{title}}</h1>

  <p>Lorem ipsum dolor amet chambray you probably haven't heard of them raw denim truffaut distillery wolf. Swag af sriracha, PBR&B tofu salvia listicle put a bird on it single-origin coffee vice you probably haven't heard of them. Iceland fixie fingerstache waistcoat lomo mixtape, austin everyday carry VHS +1 scenester hella. Seitan paleo sriracha crucifix freegan, hoodie ramps unicorn tumblr cray.</p>

  <p>Shabby chic mlkshk occupy prism mustache gentrify letterpress messenger bag. Vape echo park hammock, pok pok seitan mixtape salvia food truck tofu hot chicken keytar church-key portland. Distillery cliche brunch marfa. +1 beard put a bird on it direct trade, freegan crucifix readymade butcher. Ennui humblebrag flexitarian, umami direct trade messenger bag echo park. Meggings umami banjo ethical typewriter williamsburg pabst. Lyft lomo small batch selfies farm-to-table hot chicken.</p>

  <p>Lorem ipsum dolor amet chambray you probably haven't heard of them raw denim truffaut distillery wolf. Swag af sriracha, PBR&B tofu salvia listicle put a bird on it single-origin coffee vice you probably haven't heard of them. Iceland fixie fingerstache waistcoat lomo mixtape, austin everyday carry VHS +1 scenester hella. Seitan paleo sriracha crucifix freegan, hoodie ramps unicorn tumblr cray.</p>

  {{#if user}}
  <a href="/users/dashboard"><button id="bot-index1" class="ui massive button">Dashboard</button></a>
  {{else}}
  <a href="/login"><button id="bot-index" class="ui massive button">Continue</button></a>
  {{/if}}

</div>
