body {
  // padding: 50px;
  // background-color: #00B7FF;
  background-image: url("../images/wallpaper.jpg");
  background-size: cover;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

// #title {
//   font-size: xx-large;
// }

form {
  padding: 10% 15%;
}

p {
  padding: 5% 10% 0 10%;
}

.field {
  padding: 3%;
}

img {
  // display: block;
  padding: 10% 5%;
  margin: auto;
}

#bot-index,
#bot-login,
#bot-sign-up {
  margin: 10%;
  background-color: #0098DA;
  color: white;
}

// a {
//   color: #00B7FF;
// }

// #form {
//   margin: 30px auto;
//   width: 380px;
// }

// #form label,
// #welcome {
//   color: #666;
//   display: inline-block;
//   margin-bottom: 10px;
//   text-align: center;
//   width: 100%;
// }

// #form input,
// #form-container,
// button {
//   box-sizing: border-box;
//   font-size: 24px;
//   outline: 0;
//   padding: 4px;
//   width: 100%;
// }

// #form button,
// #logout {
//   background: #43a3e6;
//   border: 1px solid #43a3e6;
//   border-radius: 4px;
//   color: #fff;
//   cursor: pointer;
//   display: inline-block;
//   font-size: 14px;
//   padding: 8px 16px;
//   text-decoration: none;
//   text-transform: uppercase;
//   transition: .3s ease background;
//   width: 100%;
// }

// #form button:hover {
//   background: #fff;
//   color: #43a3e6;
//   transition: .3s ease background;
// }

.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 20px auto;
  padding: 20px;
  width: 100%;
}

.splash,
.login,
.signup {
  text-align: center;
}